body{
  background-color: #808080;
}

input[type=text], input[type=password],input[type=Email],input[type=number] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  margin-top:4%;
   margin-left: 5%
  border:3px solid #f1f1f1;
  background:#ADD8E6;
  padding: 1%;
  text-align: center;
  font-size: 100%;
  width: 20%;

}
form {
/*  border: 3px solid #f1f1f1;  */
  padding: 1%;
  margin:2%;
}
